<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/ file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="main">
		<item label="Terminal">
			<action name="Execute">
				<execute>alacritty</execute>
			</action>
		</item>
		<item label="Firefox">
			<action name="Execute">
				<execute>command</execute>
			</action>
		</item>
		<menu id="root-menu-23859" label="Programming">
			<item label="Kate">
				<action name="Execute">
					<execute>kate</execute>
				</action>
			</item>
		</menu>
		<item label="htop">
			<action name="Execute">
				<execute>htop</execute>
			</action>
		</item>
		<menu id="root-menu-4710" label="system">
			<item label="Restart">
				<action name="Restart"/>
			</item>
			<item label="exit">
				<action name="Exit"/>
			</item>
			<item label="reconfigure">
				<action name="Reconfigure"/>
			</item>
		</menu>
	</menu>
</openbox_menu>
